<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <form method="GET">
      <input type="search" id="search_keyword" name="search_keyword">
      <button type="submit">search</button>
    </form>

    <form method="POST">
        <select name="sorting_method" id="sorting_method">
          <option value="author">Author</option>
          <option value="title">Title</option>
        </select>
        <button type="submit">sort</button>
    </form>
    {% if not books and sqflag %}
    No books that match the search criteria
    {% elif not books and not sqflag %}
    No books existing
    {% endif %}
    {% for book in books %}
    <div> 
      <h3>{{ book.title }} - {{ authors[book.author_id-1].name }}</h3>
      <h4>{{ book.publication_year }}</h4>
      <p>{{ book.isbn }}</p>
      <form method="POST" action="/book/{{ book.id }}/delete">
        <button type="submit">delete</button>
      </form>
    </div>
    {% endfor %}

  </body>
</html>